@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    box-sizing: border-box;
} */

body{
    background-color: #FDF0F4;
}

a {
  color: white;
  text-decoration: none;
}

/* 
=================
For sortable table
=====================
*/

.table-container {
    max-height: 80vh;
    max-width: 80vw;
    /* max-height: 500px; */
    margin: 0 auto;
    overflow: auto;
}

.table {
    width: 100%;
    border-spacing: 0;
    
}

caption {
    font-style: italic;
    font-size: 90%;
    margin-bottom: 10px;
    
}

.table th {
    background: #fff;
    padding: 8px 10px;
    border-bottom: 1px solid #1a1a1a;
    font-weight: bold;
    text-align: left;

    position: sticky;
    top: 0;
}

.table th.up {
    background-image: url("./images/up_arrow.png");
}
.table th.down {
    background-image: url("./images/down_arrow.png");
}
.table th.default {
    background-image: url("./images/default.png");
}
th.up,
th.default,
th.down {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
}

.table td {
    border-top: 1px solid #ddd;
    padding: 8px 20px;
}

.table tbody tr:first-child td {
    border-top: none;
}

.table tbody tr:nth-child(n) td {
    background: #eff0f0;
}

.table tbody tr:nth-child(2n) td {
    background: #fff;
}

.table tbody td {
    position: relative;
    height:10vh;
}

.page-size-controls {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow_button {
    position: relative;
    top: 50%;
    /* transform: translateY(-50%); */
    /* left: ${props => props.direction === "left" ? "-20px" : "20px"}; */
    right: 10px;
}

.centre {
    display: flex; 
    justify-content: center;
}

.moment {
    white-space: nowrap;
}